<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>Register on IdeaBox</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="../style/libraries.css">
    <link rel="stylesheet" href="../style/grids.css">
    <link rel="stylesheet" href="../style/main.css">
  </head>
  <body>
      <form method="post" action="/users/create">
          <div>
            <div>First name:</div>
            <div><input type="text" class="input" name="firstname" /></div>
          </div>
          <div>
            <div>Last name:</div>
            <div><input type="text" class="input" name="lastname" /></div>
          </div>
          <div>
            <div>E-mail:</div>
            <div><input type="text" class="input" name="email" /></div>
          </div>
          <div>
            <div>Password:</div>
            <div><input type="password" class="input" name="password" /></div>
          </div>
          <div>
            <div><input type="submit" value="Register" /> </div>
          </div>
      </form>
  </body>
</html>
