<%inherit file="/common/base.html" />

<%def name="title()">Register on IdeaBox</%def>


<form method="post" action="/users/create">
  <div>
    <div>First name:</div>
    <div><input type="text" class="input" name="firstname" /></div>
  </div>
  <div>
    <div>Last name:</div>
    <div><input type="text" class="input" name="lastname" /></div>
  </div>
  <div>
    <div>Username:</div>
    <div><input type="text" class="input" name="username" /></div>
  </div>
  <div>
    <div>E-mail:</div>
    <div><input type="text" class="input" name="email" /></div>
  </div>
  <div>
    <div>Password:</div>
    <div><input type="password" class="input" name="password" /></div>
  </div>
  <div>
    <div><input type="submit" value="Register" /> </div>
  </div>
</form>