<%inherit file="/common/base.html" />

<%def name="title()">Register on IdeaBox</%def>


<form method="post" action="/users/create" class="edit-form user">
  <!--div>
    <label>First name:</label>
    <input type="text" class="input" name="firstname" />
  </div>
  <div>
    <label>Last name:</label>
    <input type="text" class="input" name="lastname" />
  </div>
  <div>
    <label>Username:</label>
    <input type="text" class="input" name="username" />
  </div>
  <div>
    <label>E-mail:</label>
    <input type="text" class="input" name="email" />
  </div-->
  ${user_form | n}
  <div>
    <label>Password:</label>
    <input type="password" name="password" />
  </div>
  <div>
    <label>Confirm Password:</label>
    <input type="password" name="password2" />
  </div>

  <div class="control-buttons">
    <input type="submit" value="Register" />
  </div>
</form>
