<%inherit file="/common/base.html" />

<%def name="title()">Tasks</%def>



<h1>${task.task}</h1>
  <div><a href="/tasks/complete/${task.id}">mark as completed</a></div>
  <div><a href="/projects/show/${task.tasklist.project_id}">Return to the project</a></div>
  <div><a href="/tasks/edit/${task.id}">edit</a></div>

<p>Completed: <strong>
  % if task.completed:
    completed!
  % else:
    not completed!
  % endif</strong></p>
% if task.completed:
<strong>Completed at: ${task.completed_at}</strong>
% endif

<h3>Deadline:
  % if task.deadline:
    ${task.deadline}
  % else:
    None
  % endif</h3>

<h4>Being done by: ${task.assigned_user.firstname} ${task.assigned_user.lastname}</h4>

<h2>Notes</h2>
<form method="post" action="/notes/create">
  <input type="hidden" name="project" value="${task.tasklist.project}" />
  <input type="hidden" name="task" value="${task.id}" />
  <div class="line">
    <div>New note:</div>
    <div><input type="text" class="input" name="note" /></div>
    <div><input type="submit" value="Add new note" /></div>
  </div>
</form>

<div class="line">
  % for note in notes:
    <div style="margin-top: 1%;">${note.note} (${note.dateline})</div>
  % endfor
</div>
