<%inherit file="/common/base.html" />

<%def name="title()">${project.name} - Project Users</%def>


<h1>${project.name} <span>${project.description}</span></h1>

<div class="line">
    <div class="size1of2">
        <h2>Project Users</h2>
    </div>
</div>

<div class="line">
    <div><h3>Add New User</h3></div>
          <div>
              <input type="hidden" name="project_id" id="project_id" value="${project.id}" />
              <input type="text" name="username" id="username-box" />
              <input type="button" value="Add User" id="add-user" />
          </div>
      </div>

      <div class="line username-list-header">
          <div class="unit size1of5"><strong>Username</strong></div>
          <div class="unit size1of5"><strong>Delete</strong></div>
      </div>

      <div class="user-list">
          % for user in project.users:
          <div class="line">
              <div class="unit size1of5"><a href="/users/show/${user.id}">${user.firstname} ${user.lastname}</a></div>
              <div class="unit size1of3"><a href="/projects/deleteuser/${user.id}">Delete</a></div>
          </div>
          % endfor
      </div>

</div>

