<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>IdeaBox - ${self.title()}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/style/libraries.css">
    <link rel="stylesheet" href="/style/grids.css">
    <link rel="stylesheet" href="/style/main.css">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
  </head>
  <body>
    <div id="header">
      ${self.header()}
    </div>

    <div id="content">
      <div class="inner">
        <div class="msg">${self.flash()}</div>

        ${next.body()}
      </div>
    </div>

    <div id="footer">
      ${self.footer()}
    </div>
  </body>
</html>

<%def name="title()"></%def>

<%def name="header()">
  <div class="inner">
    <!--div id="logo"><a href="/">ideabox</a></div-->
    <div class="menu">
      <ul>
        <li><a href="/projects">Projects</a>
      </ul>
    </div>
    <!--div class="user">
      <ul>
        <li><a href=""></a>preferences</li>
        <li><a href=""></a>sign in/out</li>
      </ul>
    </div-->
  </div>
</%def>

<%def name="flash()"></%def>

<%def name="footer()"></%def>
