/* 
    Document   : main
    Created on : Jun 26, 2010, 6:20:50 PM
    Author     : mengu
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body
{
    font-family: Verdana, Arial, sans-serif;
}

strong
{
    font-weight: bold;
}

h1
{
    font-size: 3em;
    margin-top: 1%;
    margin-bottom: 1%;
}

h1 span { font-size: 0.4em; }

h2
{
    font-size: 2em;
    margin-top: 3%;
    margin-bottom: 3%;
}

.input, .description
{
    width: 20em;
    font-size: 1.2em;
}

.checkboxes
{
    margin-top: 2.5%;
}

.projects { margin-top: 5%; margin-left: 5%; }
.project { font-size: 1.5em; margin-bottom: 1%; }