/*
    Document   : main
    Created on : Jun 26, 2010, 6:20:50 PM
    Author     : mengu
    Description:
        Purpose of the stylesheet follows.
*/

/* Syntax recommendation http://www.w3.org/TR/REC-CSS2/ */

/* ----- General Styles ----- */
body {
  height: 100%;
  font-family: Verdana, Arial, sans-serif;
  /*background: #dbdbdb;*/
  background: #fdfdfd;
}

strong {
  font-weight: bold;
}

h1 {
  font-size: 2em;
  line-height: 2em;
  /*margin-top: 1%;
  margin-bottom: 1%;*/
}

h1 span { font-size: 0.4em; }

h2 {
  font-size: 1.5em;
  line-height: 1.5m;
  /*margin-top: 3%;
  margin-bottom: 3%;*/
}

a {
  text-decoration: none;
  color: #ff0000;
}

.input, .description {
  width: 20em;
  font-size: 1.2em;
}

.checkboxes {
  /*margin-top: 2.5%;*/
  margin: 2px 5px;
}

/*.projects { margin-top: 5%; margin-left: 5%; }
.project { font-size: 1.5em; margin-bottom: 1%; }*/

.username-list-header {
  margin-top: 2.5%;
}

/* ----- Layout Styles ----- */
#header {
  height: 80px;
  background: #222;
  overflow: hidden;
}

#header .menu {
  height: 30px;
  margin: 50px 0 0;
  float: left;
  font-size: 1.5em;
}

#header .menu a { color: #fff; }
#header .menu a:hover { background:#333; }

#header .user {
  float:right;
}

#content {
  padding: 20px 0;
  color: #222;
  font-size:1.1em;
}

#footer {
}

/* ----- Classes ----- */
.inner {
  width: 960px;
  margin: 0 auto;
}

.divider {
  border-bottom: 1px solid #999;
}

.actions {
  float: right;
}

.menu ul {
  /*display:block;*/
  /*padding: 5px 0;*/
}

.menu li {
  /*display:inline;*/
  padding:0 10px 0 0;
  margin:0;
  /*border-left: 1px solid #fff;*/
}

.menu li:first-child { /*border:0;*/ }

.menu a {
  display: block;
  height: 28px;
  padding: 2px 5px 0;
  text-decoration: none;
}

a.edit {
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 2px;
  background: url('/img/document--pencil.png') no-repeat;
  float: left;
  text-indent: -9999px;
  outline: 0;
}

.delete {
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 2px;
  background: url('/img/minus-button.png') no-repeat;
  float: left;
  text-indent: -9999px;
  outline: 0;
}
/* ----- Project styles ----- */
.project {

}

.project-description {
  font-size: 0.9em;
  padding: 5px 5px 10px;
}

.task-count {
  padding: 5px;
  margin: 0 0 30px;
}

.tasklist {
  margin: 0 0 20px;
}

.tasklist .divider {
  margin: 0 0 5px;
  border-bottom: 1px solid #dedede;
}

.status {
  width: 95px;
  padding: 0 0 0 5px;
}

.task-desc {
  width: 520px;
}

.assigned {
  width: 150px;
}

.deadline {
  width: 150px;
}

.headers {
  margin: 0 0 5px;
}

.task {
  padding: 5px 0;
}

.no-tasks {
  text-align: center;
}

.task.even {
  background: #f0f0f0;
}

li.task:hover {
  background: #e6e6e6;
}

li.task:hover .task-actions {
  display: block;
}

.handle {
  margin: 0 2px;
  cursor: move;
}

.truncated {
  display: none;
}

.task-actions {
  display: none;
}
